body{
    align-items: center;
    background-color: rgba( 2, 48, 89);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header{
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100vw;
}

h1{
    color: white;
}

main{
    align-items: center;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 50vh;
    justify-content: center;
    width: 50vh;
}

.margin{
    background: rgb(3, 94, 114);
}

.board{
    align-items: center;
    background:rgb(54, 165, 154);
    color:rgb(245, 100, 105);
    cursor: pointer;
    display: flex;
    font-size: 70px;
    height: 100px;
    justify-content: center;
    width: 100px;
    }

